# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Spotify Remote'
      'submenu': [
        {
          'label': 'Play/Pause'
          'command': 'spotify-remote:toggle'
        },
        {
          'label': 'Next Track'
          'command': 'spotify-remote:next'
        },
        {
          'label': 'Previous Track'
          'command': 'spotify-remote:previous'
        }
      ]
    ]
  }
]
